# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [ ]:
!pip install pandas

In [3]:
import pandas as pd

In [4]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [33,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           33          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.shape

(6, 4)

In [17]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [6]:
df = pd.read_csv("weather_data_1.csv")
df

          day  temperature  windspeed  event
0  01-01-2019           37          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow
4  05-01-2019           32          4   Rain
5  06-01-2019           31          2  Sunny

In [9]:
df.shape # rows, columns = df.shape

(6, 4)

## <font color='blue'>Rows</font>

In [9]:
df.head(10) # df.head(3)

          day  temperature  windspeed  event
0  01-01-2019           37          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow
4  05-01-2019           32          4   Rain
5  06-01-2019           31          2  Sunny

In [13]:
df.tail() # df.tail(2)

          day  temperature  windspeed  event
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow
4  05-01-2019           32          4   Rain
5  06-01-2019           31          2  Sunny

In [15]:
df[:4]

          day  temperature  windspeed  event
0  01-01-2019           37          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow

## <font color='blue'>Columns</font>

In [17]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [19]:
df['day'] # or df.day

0    01-01-2019
1    02-01-2019
2    03-01-2019
3    04-01-2019
4    05-01-2019
5    06-01-2019
Name: day, dtype: object

In [21]:
##Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
type(df['day']) ## pd.Series (df['day','temperature'])

pandas.core.series.Series

In [23]:
df[['day','temperature']]

          day  temperature
0  01-01-2019           37
1  02-01-2019           35
2  03-01-2019           38
3  04-01-2019           34
4  05-01-2019           32
5  06-01-2019           31

## <font color='blue'>Operations On DataFrame</font>

In [25]:
df['temperature'].max()

38

In [27]:
df[df['temperature']>32]

          day  temperature  windspeed  event
0  01-01-2019           37          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow

In [24]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

2    03-01-2019
Name: day, dtype: object

In [31]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

          day  temperature  windspeed event
2  03-01-2019           38          2  Snow

In [33]:
df['temperature'].std()

2.7386127875258306

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     34.500000   4.666667
std       2.738613   2.338090
min      31.000000   2.000000
25%      32.500000   2.500000
50%      34.500000   5.000000
75%      36.500000   6.750000
max      38.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [35]:
df1=df.set_index('day')
df1

            temperature  windspeed  event
day
01-01-2019           37          6   Rain
02-01-2019           35          7  Sunny
03-01-2019           38          2   Snow
04-01-2019           34          7   Snow
05-01-2019           32          4   Rain
06-01-2019           31          2  Sunny

In [37]:
df

          day  temperature  windspeed  event
0  01-01-2019           37          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           38          2   Snow
3  04-01-2019           34          7   Snow
4  05-01-2019           32          4   Rain
5  06-01-2019           31          2  Sunny

In [17]:
df.set_index(['day','event'], inplace=True)

In [21]:
df

                  temperature  windspeed
day        event
01-01-2019 Rain            37          6
02-01-2019 Sunny           35          7
03-01-2019 Snow            38          2
04-01-2019 Snow            34          7
05-01-2019 Rain            32          4
06-01-2019 Sunny           31          2

In [43]:
df.index

MultiIndex([('01-01-2019',  'Rain'),
            ('02-01-2019', 'Sunny'),
            ('03-01-2019',  'Snow'),
            ('04-01-2019',  'Snow'),
            ('05-01-2019',  'Rain'),
            ('06-01-2019', 'Sunny')],
           names=['day', 'event'])

In [23]:
df.loc['02-01-2019','Sunny']

temperature    35
windspeed       7
Name: (02-01-2019, Sunny), dtype: int64

In [29]:
df.iloc[0]

temperature    37
windspeed       6
Name: (01-01-2019, Rain), dtype: int64

In [47]:
df.reset_index(inplace=True)
df.head()

          day  event  temperature  windspeed
0  01-01-2019   Rain           37          6
1  02-01-2019  Sunny           35          7
2  03-01-2019   Snow           38          2
3  04-01-2019   Snow           34          7
4  05-01-2019   Rain           32          4

In [49]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

              day  temperature  windspeed
event
Rain   01-01-2019           37          6
Sunny  02-01-2019           35          7
Snow   03-01-2019           38          2
Snow   04-01-2019           34          7
Rain   05-01-2019           32          4
Sunny  06-01-2019           31          2

In [51]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   03-01-2019           38          2
Snow   04-01-2019           34          7

## <font color='blue'>Exercise Difference between loc(), iloc() and .ix() in Pandas DataFrame</font>

## loc: Label-based indexing. It is used to access rows and columns by their labels.
## iloc: Integer-location based indexing. It is used to access rows and columns by their integer positions.
## ix: ix supports mixed integer and label based access. (Deprecated)

In [55]:
import pandas as pd

# Sample DataFrame
data = {
    'Occupation': ['Engineer', 'Doctor', 'Artist', 'Engineer', 'Doctor', 'Artist'],
    'Salary': [70000, 120000, 50000, 80000, 130000, 60000],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Education': ['Bachelors', 'Masters', 'Bachelors', 'Masters', 'Bachelors', 'Masters']
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print("Original DataFrame:")
print(df)

Original DataFrame:
  Occupation  Salary  Gender  Education
a   Engineer   70000    Male  Bachelors
b     Doctor  120000  Female    Masters
c     Artist   50000    Male  Bachelors
d   Engineer   80000  Female    Masters
e     Doctor  130000    Male  Bachelors
f     Artist   60000  Female    Masters

In [57]:
# Select a single row by label
row_b = df.loc['b']
print("\nRow 'b' using loc:")
print(row_b)

# Select multiple rows by label
rows_b_d = df.loc[['b', 'd']]
print("\nRows 'b' and 'd' using loc:")
print(rows_b_d)

# Select rows and columns by label
subset_loc = df.loc[['b', 'd'], ['Occupation', 'Salary']]
print("\nRows 'b' and 'd' with columns 'Occupation' and 'Salary' using loc:")
print(subset_loc)

Row 'b' using loc:
Occupation     Doctor
Salary         120000
Gender         Female
Education     Masters
Name: b, dtype: object

Rows 'b' and 'd' using loc:
  Occupation  Salary  Gender Education
b     Doctor  120000  Female   Masters
d   Engineer   80000  Female   Masters

Rows 'b' and 'd' with columns 'Occupation' and 'Salary' using loc:
  Occupation  Salary
b     Doctor  120000
d   Engineer   80000

In [59]:
# Select a single row by position
row_1 = df.iloc[1]
print("\nRow 1 using iloc:")
print(row_1)

# Select multiple rows by position
rows_1_3 = df.iloc[[1, 3]]
print("\nRows 1 and 3 using iloc:")
print(rows_1_3)

# Select rows and columns by position
subset_iloc = df.iloc[[1, 3], [0, 1]]
print("\nRows 1 and 3 with columns 0 and 1 using iloc:")
print(subset_iloc)

Row 1 using iloc:
Occupation     Doctor
Salary         120000
Gender         Female
Education     Masters
Name: b, dtype: object

Rows 1 and 3 using iloc:
  Occupation  Salary  Gender Education
b     Doctor  120000  Female   Masters
d   Engineer   80000  Female   Masters

Rows 1 and 3 with columns 0 and 1 using iloc:
  Occupation  Salary
b     Doctor  120000
d   Engineer   80000

In [ ]:
# Select a single row by position
row_1 = df.iloc[1]
print("\nRow 1 using iloc:")
print(row_1)

# Select multiple rows by position
rows_1_3 = df.iloc[[1, 3]]
print("\nRows 1 and 3 using iloc:")
print(rows_1_3)

# Select rows and columns by position
subset_iloc = df.iloc[[1, 3], [0, 1]]
print("\nRows 1 and 3 with columns 0 and 1 using iloc:")
print(subset_iloc)